#head {
    background-color: #e43f5a;
    color: #fff;
}


h1 {
    font-family: "Montserrat-black", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.container-fluid {
    padding: 3% 15% 0 15%;
}

.intro {
    padding: 1% 2%;
    text-align: center;
}

.tb-size {
    padding: 6% 3% 3% 3%;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff;

}

.nav-item {
    padding-right: 15px;
}

.nav-link {
    font-family: "Montserrat-black", sans-serif;
    font-size: 1rem;
    color: #fff;
}

.download-btn {
    margin: 5% 3% 5% 0;
}


#keyword {
    padding: 7% 15%;
    text-align: center;
    color: #1f4068;
  }


  .icon {
    color: #f3667d;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #e43f5a;
  }

  /* gallery section */

  .portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item .item{
	/*width:303px;*/
	float:left;
	margin-bottom:10px;
}


/* cta section */

#cta {
    background-color: #e43f5a;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }
  
  .cta-heading {
    font-family: "Montserrat-bold", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
  }



/* team section  */
#team {
    padding: 4% 15%;
  }
  
  .section-title {
    margin-bottom: 60px;
  }
  .section-title p {
    color: #fff;
    font-size: 16px;
  }
  .section-title h4 {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .section-title h4:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #e43f5a;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
  }
  .section-title h4:after {
    position: absolute;
    background-color: #e43f5a9;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
  }
  
  .single-team img {
    width: 100%;
  }
  .single-team {
    position: relative;
  }
  .team-hover {
    background-color: #e43f5a;
    color: #fff;
    position: absolute;
    bottom: -107px;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .team-hover h4 {
    font-size: 20px;
    text-transform: capitalize;
  }
  .team-hover h4 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
  }
  .team-hover a {
    display: inline-block;
    color: #fff;
    padding: 0 5px;
  }
  .single-team:hover .team-hover {
    bottom: 0;
  }
  .single-team {
    overflow: hidden;
  }

  /* footer section */
  
  #footer {
    background-color: #e43f5a;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
  }
  
  .icon-p {
    margin: 10px 10px;
  }
  
  .icon-p:hover {
    color: #f78ea0;
  }
  
  /* media query  */
  
  @media (max-width: 1028px) {
    #title {
      text-align: center;
    }
    h2 {
      font-family: "Montserrat-bold", sans-serif;
      font-size: 2rem;
      line-height: 1;
    }
  }